<html>
<head>
    <link rel="stylesheet" href="~/CreateForm.css">
</head>
<body>
    @using (Html.BeginForm("CreateALargeNumbersOfSeries", "Series", FormMethod.Post))
    {
        <header class="head-form">
            <h2>Create</h2>
        </header>

        <div id="container">
            <div id="sidebar">
                <p>
                    @Html.TextBox("season", "Number of season")
                    @Html.TextBox("firstSeries", "Number of first series")
                    @Html.TextBox("lastSeries", "Number of last series")
                    <input type="submit" value="Create" />
                </p>
            </div>
        </div>
    }
</body>
</html>