@model NetflixMVC.Entities.Film

<html>
<head>
    <link rel="stylesheet" href="~/CreateForm.css">
</head>
<body>
    <form asp-action="DeleteFilmes" asp-controller="Film" asp-route-id="@Model.Id">
        <header class="head-form">
            <h2>Delete</h2>
            <p>Are you sure to delete</p>
            <p>@Html.DisplayFor(model=>model.Name)</p>
        </header>
        <p><input type="submit" value="Delete" /></p>
    </form>
</body>
</html>